<?xml version="1.0" encoding="UTF-8"?>

<clientConfig version="1.1">
  <emailProvider id="{{ mailserver_fqdn.split(".")[1] }}.{{ mailserver_fqdn.split(".")[2] }}">
    <domain>{{ mailserver_fqdn.split(".")[1] }}.{{ mailserver_fqdn.split(".")[2] }}</domain>
    <displayName>{{ mailserver_fqdn.split(".")[1] }}.{{ mailserver_fqdn.split(".")[2] }} Mail</displayName>
    <displayShortName>mysystems.tld</displayShortName>
    <incomingServer type="imap">
      <hostname>imap.{{ mailserver_fqdn.split(".")[1] }}.{{ mailserver_fqdn.split(".")[2] }}</hostname>
      <port>993</port>
      <socketType>SSL</socketType>
      <authentication>password-cleartext</authentication>
      <username>%EMAILADDRESS%</username>
    </incomingServer>
    <outgoingServer type="smtp">
      <hostname>smtp.{{ mailserver_fqdn.split(".")[1] }}.{{ mailserver_fqdn.split(".")[2] }}</hostname>
      <port>465</port>
      <socketType>SSL</socketType>
      <authentication>password-cleartext</authentication>
      <username>%EMAILADDRESS%</username>
    </outgoingServer>
  </emailProvider>
</clientConfig>
